.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: calc(10px + 2vmin);
}
.container{
  margin-top: 50px;
}
.clearButton{
  color: black;
  float: right;
  border-radius: 5px;
  margin-left: 5px;
  height: 30px;
  vertical-align: middle;
  display: inline-block;
  justify-content: right;
  font-size: 18px;
}

.signInButton{
  color: black;
  border-radius: 5px;
  margin-left: 5px;
  height: 30px;
  vertical-align: middle;
  display: inline-block;
  justify-content: center;
  font-size: 18px;
}
.button {
  color: black;
  border-radius: 5px;
  margin-left: 5px;
  height: 30px;
  vertical-align: middle;
  display: inline-block;
  justify-content: center;
  font-size: 18px;
  
}

.form-container{
  position: center;
  padding-top: 20px;
  height: 20vh;
  display: inline-block;
  justify-content: center;
  
}

::placeholder{
  color: black;
}

.input{
  padding-left: 20px;
  vertical-align: middle;
  font-size: 18px;
  height: 30px;
  color: black;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.instruction{
  font-size: 13px;
}